.card
{
    border:1px solid transparent;
    background-color:transparent;
    margin:20px 20px 20px 20px;
    
}
.card-body
{
    border:none;
}
.card-title
{
    color:white;
    opacity:1;
    font-size:40px;
    font-weight: 700;
}
.card-text,h5,p
{
    color:white;
    font-size:20px;
}