.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1
{
    text-align:center;
    color:gray;
}
#body
{
    background-color:black;
  
}
#3d
{
    display: flex;
  justify-content: center;
  align-items: center;
}


/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */
